.response-1,
.response-1 * {
  box-sizing: border-box;
}
.response-1 {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--for-h-4-onblack, #cccccc);
  border-width: 1px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 473px;
  height: 436px;
  position: relative;
}
.response-1__frame-38 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.response-1__ellipse-6 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
}
.response-1__frame-37 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.response-1__petr {
  color: var(--black, #000000);
  text-align: left;
  font: var(--_1920-h-2, 500 30px "Inter", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.response-1__trucker {
  color: var(--orange, #ffd600);
  text-align: left;
  font: var(--_1920-h-4, 400 20px "Inter", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.response-1__mam-43-lata-mam-wszystko-czego-pragn-am-i-odkrywam-dla-siebie-nowe-mo-liwo-ci-jaki-jest-m-j-sekret-kupi-em-pakiet-akcji-orange-polska-i-co-miesi-c-zarabiam-od-40-000-z {
  color: var(--for-h-4, #443e3e);
  text-align: left;
  font: var(--_1920-h-4, 400 20px "Inter", sans-serif);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
